<tr>
  <td class='td-link'><%= link_to index_table_row.id, authentication_user.user_path(index_table_row), class:'order-link' %></td>
  <td><%= index_table_row.fio %></td>
  <td><%= index_table_row.email %></td>
  <td><%= index_table_row.phone %></td>
  <td><%= index_table_row.address %></td>
</tr>
